.check {
  flex-direction: column;
  justify-items: center;
  align-items: center;

  gap: 3rem;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 0.0.);
  color: lightblue;
}
